doctype html
html
head
    link(href='/app.css' rel='stylesheet')
    block title
      title website
  body
    include ./nav.jade
    block content

    script(src='https://code.jquery.com/jquery-1.11.2.min.js', type='text/javascript')
    script(src="/app.js", type='text/javascript')
